body {
  margin: 0;
  padding: 0;
}


.home {
  width: 100%;
  height: 100vh;
  background: url("https://thumbs.dreamstime.com/b/juicy-appetizing-chicken-burger-advertising-poster-cheeseburger-sesame-seed-bun-centered-highlighted-vibrant-blue-397704553.jpg") no-repeat center center/cover;
  background-size: 100vw 100vh;
  box-sizing: border-box;
  position: relative;
  left: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  color: white;
}

.home-content h1 {
  font-family: cursive;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 2px;
}

.app-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.im {
  width: 191px;
  height: 63px;
  transition: transform 0.3s ease;
}

.im:hover {
  transform: scale(1.1);
}


.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  gap: 40px;
}

.about-text {
  flex: 1 1 400px;
}

.about-text h2 {
  font-size: 40px;
  font-family: cursive;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ddd;
}

.learn-more-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
   width: 100px;
  height: 60px;

}

.learn-more-btn:hover {
  background-color: #c71c2f;
  transform: scale(1.1);
}

.about-image img {
  width: 450px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}