.singlecard{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: solid green 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 90px;
    padding: 15%;
    background-color: rgb(138, 248, 155);
    

    & img{
       
        width: 98%;
        height: 60%;
    }

    & p{
      
        font-size:small;
    }
}
.toggle{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}
.singlecard :hover{
    background: linear-gradient(green,white);
}